* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    ffont-family: 'Roboto', sans-serif;
   
}





#menu {
    z-index: 100;
    position: fixed;
    top: 6px;
    left: 10px;
    display: inline-block;
    cursor: pointer;

}

.menuicon {
    width: 28px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 30px;
}

#menu:hover {
    background-color: #b0e0e6;
    color: royalblue;
    padding: 1px 3px;
    margin: 0;
}

.change .icon1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .icon2 {
    opacity: 0;
}

.change .icon3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

#sidebar {
    width: 230px;
    height: 100vh;
    background-color: #a0b0b5;
    padding: 15px 30px 20px 40px;
    position: fixed;
    left: 0;
    float: left;
    text-decoration: none;
    transition: 0.8s all;
    display: none;
    z-index: 1000;
}

.sidelink {
    font: 1em/40px white 'Arial', sans-serif;
    transition: 0.8s all;

}

.sidelink:hover {
    background-color: palegreen;
    color: royalblue;
}

#sidebar ol li a {
    text-decoration: none;
    color: #07233c;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    display: block;

}

#sidebar ol li a:hover {
    padding-left: 7px;
    background-color: #D0DDDD;
    color: #666666;
}

#textbox {
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    position: relative;
}

.slideshow {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}



.navigation {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 40px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}

.bar:hover {
    background: white;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.sideimg {
    width: 70%;
    transform: translateX(22%);
}

.slides {
    width: 500%;
    display: flex;
}

.slide {
    width: 100%;
    transition: 0.6s;
}

#r1:checked ~ .s1 {
    margin-left: 100;
}

#r2:checked ~ .s1 {
    margin-left: -100%;
}

#r3:checked ~ .s1 {
    margin-left: -70%;
}

#r4:checked ~ .s1 {
    margin-left: -150%;
}

#r5:checked ~ .s1 {
    margin-left: -400%;
}

#textbox {
    line-height: 3;
    padding-left: 20px;
}

h1 {
    text-shadow: 3px 3px gray;
     font: 1em/1.6 tahoma, arial, sans-serif;
    font-weight: bold;
    
}

#textbox h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5em;
}

.drop h2 {
    padding-top: 0.9em;
    font-size: 1.5em;
}

.drop h3 {
    font-size: 1.2em;
}

.drop h4 {
    font-size: 1em;
}

#textbox section p {
    font: 1em/1.6 tahoma, arial, sans-serif;
    text-indent: 2em;
    font-size: 18px
}
#textbox h2 {


    font-size: 32px;
}
#textbox h3 {
    
    font-size: 28px;
}

#textbox h4 {
    font-size: 25px;
         text-indent: 2em;
}

#textbox h5 {
    text-indent:4em;
    font-size: 20px
}



#backtop {
    text-align: right;
    padding: 0 50px 30px 0;
}

footer {
    background-color: lightgray;
    background-size: 100%;
    margin: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    line-height: 1;
     text-indent: em;
    
    
}

footer h6{
    font-size: 25px;
}
@media screen and (min-width: 900px) {
    #sidebar {
        display: block;
    }

    #textbox {
        margin-left: 250px;
    }
